<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OneCloud CH Racer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" >
  </head>

  <section class="hero is-primary">
    <div style="width: 100%;">
      <div style="width: 10%; height: 100px; float: left; background: #0094ff;" class="hero-head">
        <figure class="image is-128x128">
          <img class="is-rounded" src="https://sad9ab6f03.blob.core.windows.net/container/MK8D_BCP_Mario.jpg"/>
        </figure>
      </div>

      <div style="height: 100px; background: #0094ff;" class="hero-head">
        <p style="padding: 30px; margin-right: 12%; text-align:center;" class="title">
          <a href="/">Mario Kart Champion</a>
        </p>
        <p class="subtitle">
        </p>
      </div>
    </div>
</section>
<section class="section">
  <h1 class="title"></h1>
  {{ if not .currentMatch.Team1 }}
    <p> Select players and click play </p>
  {{ else }}
    <form action="/postMatch" method="POST">

    <nav class="level">
          <div class="level-item has-text-centered">
        <div>
          <span class="tag is-success">{{ .winA }}</span>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Team A</p>
          {{ range .currentMatch.Team1 }}
            <p class="title">{{.Name}}</p>
          {{ end }}
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Score</p>
          <input class="input" type="number" id="scoreTeam1" name="scoreTeam1">
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">Vs.</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Score</p>
          <input class="input" type="number" id="scoreTeam2" name="scoreTeam2">
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Team B</p>
          {{ range .currentMatch.Team2 }}
            <p class="title">{{.Name}}</p>
          {{ end }}
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <span class="tag is-success">{{ .winB }}</span>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <input class="button" type="submit" value="Save">
        </div>
      </div>
    </nav>
    </form>
  {{ end }}
</section>
  
<section class="section">
  <!--<h1 class="title">Players</h1>-->
  <form id="play-form" action="/" method="POST"></form>
  <form id="new-player-form" action="/postNewPlayer" method="POST"></form>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <table class="table">
          <tr>
            <th>User</th>
            <th>Points</th>
            <th>Active</th>
          </tr>
          {{ range .users }}
          <tr>
            <td>{{ .Name }}</td>
            <td> {{ .Points }}</td>
            <td> <input type="checkbox" name="users[]" value="{{ .Name }}" id="{{ .Name }}" {{ if .Active }}checked {{ end }} form="play-form"> <td>
          </tr>
          {{ end }}
          <tr>
            <td> <input type="text" name="name" id="name" form="new-player-form"> </td>
            <td> </td>
            <td> <input class="button" type="submit" value="save" form="new-player-form"> <td>
          </tr>
        </table>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <input class="button" type="submit" value="Play!" form="play-form">
      </div>
    </div>
        <div class="level-item has-text-centered">
      <div>
      <h2>History</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Team A</th>
            <th>Team B</th>
            <th>Points Won</th>
          </tr>
        </thead>
        <tbody>
          {{ range $y, $x := .matches }}
            <tr>
              <td {{ if gt $x.ScoreTeam1 $x.ScoreTeam2 }}class="has-background-success" {{ end }} > 
                {{ range $x.Team1 }}
                  {{.Name}}
                {{ end }}
                </td>
              <td {{ if gt $x.ScoreTeam2 $x.ScoreTeam1 }}class="has-background-success" {{ end }}>
                {{ range $x.Team2 }}
                  {{.Name}}
                {{ end }}
              </td>
              <td>{{ $x.PointsChange }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      </div>
    </div>
  </nav>
</section>
  

  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>OneCloud CH Racer</strong></a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
</html>
